:root {
    --stu-black: #000;
    --stu-white: #fff;
    --stu-gray-1: #f7f8fa;
    --stu-gray-2: #f2f3f5;
    --stu-gray-3: #ebedf0;
    --stu-gray-4: #dcdee0;
    --stu-gray-5: #c8c9cc;
    --stu-gray-6: #969799;
    --stu-gray-7: #646566;
    --stu-gray-8: #323233;
    --stu-red: #ee0a24;
    --stu-blue: #1989fa;
    --stu-orange: #ff976a;
    --stu-orange-dark: #ed6a0c;
    --stu-orange-light: #fffbe8;
    --stu-green: #07c160;

    --stu-primary-color: var(--stu-blue);
    --stu-success-color: var(--stu-green);
    --stu-danger-color: var(--stu-red);
    --stu-warning-color: var(--stu-orange);
}